body {
  background-color: #5b8188;
}


h3 {
  text-align: center;
  font-size: 2rem;

}
#remove {

text-align: center;


}

button {
  background-color: #cbbb91;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
}



#container {

position: relative;
display: grid;
height: 90vh;
grid-gap: 3rem;
grid-template-rows: repeat(1,1fr);
grid-template-columns: repeat(6,1fr);
margin: 3rem;


}


.column {

display: grid;
grid-gap: 30px;
}


.row {

border: 1px black solid;
border-radius: 20px;

}
